
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

        <title>C C A</title>
    </head>

    <style type = "text/css">
        div#index_font{
            font-size:2cm;
        }
        div#index_top {
            width : auto;
            height : 100px;
            float : top;
        }
        div#index_main {
            width : auto;
            height : auto;
            float : bottom;
        }
        div.button {
            margin:auto;
            width:50%;
        }
        div.login{
            font-size: 1cm;
        }
    </style>
    <body>
        <div id="index_top">
                <div style="text-align:center">
                    <img width="1000" height="50" src="\CCA_Project\views\cca_logo.png">
                </div>
                <span style="float:right;">
                    <button
                        type="button"
                        style="color:black; background:white; font-size:0.3cm; border-radius:0.5em; padding:5px 20px;"
                        onclick="location.href='C:/Users/MKCompany_25/Desktop/템플릿/login.html'">
                        로그인
                    </button>
                </span>
            </div>

        <div id="index_main">
            <script>
                 if (request.getParameter("error") == null){
                <h1 align="center">CCA - Login</h1>
            }
            </script>
            <form action="/login" name = "login" method="post">
                <div class="login" align=center>
                    I&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspD
                    <input type="text" class="form-control" name="id" style="height: 25px">
                </div>
                <div class="login" align=center>
                    <label>Password</label>
                    <input aria-setsize="1cm" type="password" class="form-control" name="pw" placeholder="Enter Private key" style="height: 25px">
                </div>
                <div class="button">
                <input type="submit" value="Login">
                </form>

        <div class="container">
            </div>


            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    

    </body>
</html>